#can be 'development' or 'production'
NODE_ENV=development

#your app port
PORT=8080

#your mongo connection options
MONGODB_URI=mongodb+srv://rekpero:rekpero@migration-test.mbbk8.mongodb.net/
MONGODB_DB_MAIN=argo
MONGODB_ATLAS_OPTION=retryWrites=true&w=majority

#your github strategy configurations
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback

#your gitlab strategy configurations
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_CALLBACK_URL=http://localhost:8080/auth/gitlab/callback

#your smtp configuration
SMTP_USERNAME=
SMTP_PASSWORD=

#secret for JWT
SECRET=

#github app creds
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_CALLBACK_URL=https://github.com/apps/argoappgithubapptest/installations/new
GIT_HUB_APP_ID=84328
PEM_FILE_NAME=argoappgit.pem
PEM_CONTENT=

#cloudflare configurations
CLOUDFLARE_ARGO_IVP4=
CLOUDFLARE_DOMAIN_NAME=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_EMAIL=
CLOUDFLARE_KEY=

#redis configurations
REDIS_ENDPOINT=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

#namebase configurations
NAMEBASE_ACCESS_KEY=
NAMEBASE_SECRET_KEY=

#deployer api configurations
DEPLOYER_API_HOST_ADDRESS=http://localhost:5000

#payment api configurations
PAYMENT_API_HOST_ADDRESS=http://localhost:3001

#frontend app configurations
FRONTEND_APP_HOST_ADDRESS=http://localhost:3000

#domain resolver configuration
DOMAIN_RESOLVER_BASE_ADDRESS=https://argoapp.online
DOMAIN_SECRET=
